@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Sriracha&display=swap');

body{
  background-color: black;
  margin: 0;
  overflow-x: hidden;
  
  
}
* {
  box-sizing: border-box;
}


.hidden {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.animate {
  opacity: 1;
  transform: translateY(0);
}
h1{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:bolder;
    font-style: normal;
}
li{
  font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
}
p,li,h2{
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}